---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="O projekcie"
  description=""
  pubDate={new Date('May 29 2022')}
  heroImage="/ue_logos.png"
>
  <p>Beneficjent Dawid Ryczko realizuje projekt:</p>

  <p>Opracowanie i wdrożenie aplikacji wspierającej e-administrację w walce z bezdomnością zwierząt.</p>

  <p>W ramach Programu Operacyjnego Polska Cyfrowa na lata 2014-2020. Oś Priorytetowa nr 2 „E-administracja i otwarty
    rząd”.</p>

  <p>Działanie nr 2.4 „Tworzenie usług i aplikacji wykorzystujących e-usługi publiczne i informacje sektora
    publicznego.”</p>

  <p>Celem głównym projektu jest opracowanie i wdrożenie na rynek aplikacji, która pozwoli na odnajdywanie zagubionych
    zwierząt, a także walkę z bezdomnością zwierząt.</p>

  <p>Dofinansowanie projektu z UE: 407 595,00 PLN</p>

  <p>Projekt realizowany w okresie 01.02.2021 – 12.10.2022</p>

  <p>Minimalny okres utrzymania projektu to 3 lata od zakończenia realizacji.</p>

  <p><a
    href="https://www.gov.pl/web/cppc/tworzenie-uslug-i-aplikacji-wykorzystujacych-e-uslugi-publiczne-i-informacje-sektora-publicznego">
    Więcej o projekcie pod tym linkiem.
  </a></p>

</Layout>
