---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="Pobierz aplikację"
  description=""
  pubDate={new Date('May 29 2022')}
  heroImage="/logos/logo_640.jpeg"
>
  <p>
    Jeżeli chcesz pomoć, wystarczy, że pobierzesz aplikację. Znajdziesz ją w Google Play:
  </p>
  <p><a href="https://play.google.com/store/apps/details?id=org.znajda" target="_blank"><br>
    <img decoding="async" alt="pobierz z Google Play"
         src="https://play.google.com/intl/en_us/badges/static/images/badges/pl_badge_web_generic.png"></a></p>

</Layout>
